@charset "utf-8";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*.margin5 {
    margin:  5px;
}

*.margin10 {
    margin:  10px;
}
        *.padding20 {
            padding: 20px;
        }
        *.padding10 {
            padding: 10px;
        }

*.vertical {
    writing-mode: horizontal-tb;
}

*.sideways {
  rotate: 270deg;
}

*.absolute {
    position:  absolute;
}

*.topleft {
    position: absolute;
    top: 0;
    left: 0;
}

*.leftpanel {
    left: -20%;
    top: 30%;
}

*.leftpaneldiv {
    height: 100%;
    width: 45px;
}

    *.centertext {
    text-align: center;
}

*.verticalcenter {
    vertical-align:  middle;
}
        *.font22 {
            font-size: 22px;
        }
*.floatleft {
    float:  left;
}

*.floatright {
    float: right;
}

*.whitetext {
    color:  #FFFFFF;
}

*.blackbg {
    background-color:  #000000;
}

*.hideme {
    display:  none;
}
        
        *.blackunderline {
            border-bottom: solid 2px #000000;
            padding-bottom:  3px;
        }
        *.indent {
              text-indent: 50px;
        }
        *.pointer {
            cursor:  pointer;
        }
        *.boldtext {
            font-weight: bold;
        }

*.flex-container {
    display:  flex;
    align-items:  center;
}

        *.grid-container {
            display:  grid;
            grid-template-columns: auto auto;
        }

*.inline-block {
    display:  inline-block;
}

*.italic {
    font-style:  italic;
}

        *.graybg {
            background-color:  #D3D3D3;
        }
        *.blackborder {
            border: solid 2px #000000;
        }
*.grayborder {
    border:  solid 2px #d3d3d3;
}

*.offwhitebg {
    background-color:  #FBFBFB;
}

*.thinborder {
    border:  solid 1px #d3d3d3;
}

*.centertext {
    text-align: center;
}
